<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<p class="normal">Login<br><img src="images/line.gif"></p>
<p class="normal">Please enter your credentials:</p>
<form>
    <table width="40%" border="0">
        <tr> 
            <td>
                <p class="normal">Username:&nbsp;
                <input type="text" ng-model="username" /></p>
            </td> 
        </tr>
        <tr> 
            <td>
                <p class="normal">Password:&nbsp;&nbsp;
                    <input type="password" ng-model="password" /></p>
            </td>
        </tr>
        <tr> 
            <td>
                <button ng-click="login()">Submit</button>
            </td> 
        </tr> 
    </table> 
</form>
