html, body {
    margin:0; 
    padding:0; 
    height: 100%;
    min-height: 100%;
}

.homepage
{
    background-image:url(images/homepagebackground.jpg);
    height: 100%;
    min-height: 100%;
}

loginbuttons
{
    width: 300px;
    height: 200px;
    margin-top: 150px
}

.homepagebox
{
    position:absolute;
    width: 200px;
    height: 150px;
    margin-left: -100px;
    background: #063;
    bottom: 0px;
    text-align: center;
    font-family: Verdana;
    font-weight: normal;
    font-size: 11px;
    color: #f5f9ff;
    background-color: #313336;
    border: 0px #d79900 solid;
    border-collapse: collapse;
    border-spacing: 10px;
    opacity: 0.5;
}

.homepagebox-link
{
    color: #f5f9ff;
}

.homepagebox-left
{
    left: 20%;
}

.homepagebox-center
{
    left: 50%;
}

.homepagebox-right
{
    left: 80%;
}

.clearbox
{
    position:relative;
    width: 1px;
    height: 1024px;
    margin-left: -100px;
    opacity: 0.0;
    left: -50%;
}

.regularpage
{
    font-family: Verdana;
    font-weight: normal;
    font-size: 11px;
}

.carlist
{
    width: 500px;
    font-family: Verdana;
    font-weight: normal;
    font-size: 11px;
    border-bottom: 3px solid #313336;
    vertical-align: middle;
}

.carlist-image
{
    width: 150px;
    height: 100px;
    display: table-cell;
    left: 0%;
}

.carlist-text
{
    display: table-cell;
    vertical-align: middle;
}

table
{
    text-align: center;
    font-family: Verdana;
    font-weight: normal;
    font-size: 11px;
    color: #404040;
    border: 0px #d79900 solid;
    border-collapse: collapse;
    border-spacing: 0px;
}

td.home
{ text-align: center;
  font-family: Verdana;
  font-weight: normal;
  font-size: 11px;
  color: #404040;
  width: 203px;
  border: 0px #d79900 solid;
  border-collapse: collapse;
  border-spacing: 0px;
}

td.ad
{ text-align: center;
  font-family: Verdana;
  font-weight: normal;
  font-size: 11px;
  background-color: #E6F1F5;
  border: 0px #d79900 solid;
  border-collapse: collapse;
  border-spacing: 10px;
}


img
{ text-align: left;
  background-color: #fafafa;
  border: 0px #d79900 solid;
  border-collapse: collapse;
  border-spacing: 0px;
}

tr.grey
{;
 background-color: #F9F7F7;
 font-family: Verdana;
 font-weight: normal;
 font-size: 11px;
 border: 0px #d79900 solid;
 border-collapse: collapse;
 border-spacing: 0px;
}

td
{
    text-align: left;
    font-family: Verdana;
    font-weight: normal;
    font-size: 11px;
    border: 0px #d79900 solid;
    border-collapse: collapse;
    border-spacing: 0px;
}

table.car
{
    background-color: #F9F7F7;
    font-family: Verdana;
    font-weight: normal;
    font-size: 11px;
    width: 550px;
    border: 0px #d79900 solid;
    border-collapse: collapse;
    border-spacing: 0px;
}

p.car
{
    background-color: #F9F7F7;
    font-family: Verdana;
    font-weight: normal;
    font-size: 11px;
    width: 550px;
    border: 0px #d79900 solid;
    border-collapse: collapse;
    border-spacing: 0px;
}

p
{
    background-color: #FFFFFF;
    font-family: Verdana;
    font-weight: normal;
    font-size: 11px;
    border: 0px #d79900 solid;
    border-collapse: collapse;
    border-spacing: 0px;
}

p.normal
{
    background-color: #FFFFFF;
    font-family: Verdana;
    font-weight: normal;
    font-size: 11px;
    width:550;
    border: 0px #d79900 solid;
    border-collapse: collapse;
    border-spacing: 0px;
}

p.summary
{
    text-align: left;
    background-color: #F9F7F7;
    font-family: Verdana;
    font-weight: normal;
    font-size: 11px;
    width: 430px;
    border: 0px #d79900 solid;
    border-collapse: collapse;
    border-spacing: 0px;
}

p.link
{
    text-align: left;
    background-color: #F9F7F7;
    font-family: Verdana;
    font-weight: normal;
    font-size: 11px;
    width: 430px;
    border: 0px #d79900 solid;
    border-collapse: collapse;
    border-spacing: 0px;
    cursor: pointer;
    text-decoration: none;
}

p.headline
{
    font-size: 14px;
    font-weight: bold;
}

p.subline
{
    font-size: 12px;
    font-style: italic;
}

.manulink
{
    cursor: pointer;
    color: #000000;
    font-family: Verdana;
    font-weight: normal;
    font-size: 14px;
    vertical-align: bottom;
    height: 75px;
}