<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<p class="normal">Login<br><img src="images/line.gif"></p>
<p class="normal">Please enter your credentials:</p>
<form>
    <table width="80%" border="0">
        <tr> 
            <td>
                Username:<br />&nbsp;
                <input type="text" ng-model="username" />
            </td> 
        </tr>
        <tr> 
            <td>
                Password:<br />&nbsp;
                <input type="text" ng-model="password" />
            </td>
        </tr>
        <tr> 
            <td>
                <button ng-click="login()">Submit</button>
            </td> 
        </tr> 
    </table> 
</form>
